<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a href="/" class="logo"><strong>
        P H C S
      </strong></a>
      <a mat-button>Professional Home Cleaning Services</a>
      <a mat-button>About Us</a>
      <a mat-button>Blog</a>
      <a mat-button>Become A Professional</a>
      <span class="fill-space"></span>
      <a mat-button (click)="openDialog()">Login / Sign Up</a>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

