<div class="row">
  <mat-card class="dashboard-card-img">
    <mat-card-content class="text-center">
      <span class="font-large"><strong>Choose your Cleaning Service:</strong></span>
      <mat-grid-list cols="3">
        <mat-grid-tile>
          <mat-card>
            <mat-card-content>
              <img src="../../assets/hc.jpg" class="mat-services"/>
            </mat-card-content>
            <mat-card-actions>
              <span><strong>Bathroom Cleaning Service</strong></span><br/>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card>
            <mat-card-content>
              <img src="../../assets/sc.jpg" class="mat-services"/>
            </mat-card-content>
            <mat-card-actions>
              <span><strong>Sofa Cleaning Service</strong></span><br/>
              <button mat-button color="warn">Book Now</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card>
            <mat-card-content>
              <img src="../../assets/kc.jpg" class="mat-services"/>
            </mat-card-content>
            <mat-card-actions>
              <span><strong>Kitchen Cleaning Service</strong></span><br/>
              <button mat-button color="warn">Book Now</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <!-- <img mat-card-image src="../../assets/cc.jpg"/> -->
  </mat-card>
</div>
