.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.dashboard-card-img{
  padding: 10px;
  height: 380px;
  background-image: url('../../assets/cc.jpg')
}

.mat-services{
  object-fit: cover;
    height: 200px;
}
