/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-center{
    text-align: center;
}
.font-large{
    font-size: large;
}
.logo{
    font-size: larger;
    background: #fff;
    color: #66b0f9;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
  }
.app-theme{
    background: #66b0f9;
    color: #fff;
}

.fill-space{
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
       flex: 1 1 auto;
  }
  html input[type="button"] {
    background: #66b0f9;
    color: #fff;
  }