<mat-toolbar class="app-theme">
<h5 >Professional Home Cleaning Services</h5>
<span class="fill-space"></span>
<mat-icon matSuffix (click)="onClose()">close</mat-icon>
</mat-toolbar>
<br/>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <span matPrefix>+91 &nbsp;</span>
    <input type="tel" matInput placeholder="Mobile" [(ngModel)]="data.mobile">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="example-full-width"  mat-raised-button>Continue</button>
</div>